<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body th:fragment="extendedItem(item)">
    <div class="item-card card">
      <!--th:src="@{${item.picture}}" -->
      <img
        src="http://cdn.shopify.com/s/files/1/0383/9645/products/animal-farm-george-orwell.jpg?v=1443106817"
        th:src="@{|/images/products/${item.picture}|}"
        alt="item picture"
      />
      <div class="product-info">
        <h1 class="product-title" th:text="${item.name}">Item Name</h1>
        <span class="product-category" th:text="${item.category}">Books</span>
        <p class="product-description" th:text="${item.description}">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum ad,
          iste quod illum eius dignissimos perspiciatis placeat obcaecati quo at
          amet labore temporibus ab in fugit, repudiandae deleniti repellendus
          perferendis debitis culpa, et nemo. Ab nisi odio minus nesciunt
          laborum.
        </p>
      </div>
      <div class="vendors">
        <div
          class="item-vendor"
          th:each="entry : ${item.value}"
          th:with="vendor=${entry.key},price=${entry.value}"
        >
          <div class="item-price-row">
            <span class="item-price"
              ><span th:text="${price.price}">20.99</span>&euro;</span
            >
            <form
              th:action="@{|/doAddCart?vendorId=${vendor.id}&itemId=${item.id}|}"
              method="POST"
            >
              <input type="number" name="quantity" value="1" />
              <button>Add to cart</button>
            </form>
          </div>
          <p>
            sold by <strong th:text="${vendor.name}">SAMcommerce</strong>
            <span th:replace="~{partials/rating :: rating(${vendor.score})}">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </span>
          </p>
          <p>
            <strong><span th:text="3">3</span> items</strong> in your cart are
            sold by this vendor.
          </p>
          <br />
          <h4>Shipping cost</h4>
          <table>
            <tr th:each="range : ${vendor.ranges}">
              <td th:text="|${range.min} to ${range.max} items|">
                1 to 3 items
              </td>
              <td><span th:text="${range.cost}">10</span>&euro;</td>
            </tr>
          </table>
          <strong
            >FREE SHIPPING after
            <span th:text="${vendor.free_limit}">30</span>&euro;</strong
          >
        </div>
      </div>
    </div>
  </body>
</html>
