<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Cart page</title>
  </head>
  <body>
    <div th:replace="~{partials/header :: nav}"></div>
    <h1>Check and proceed to order</h1>
  	<table>
      <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>CATEGORY</th>
        <th>PICTURE</th>
      </tr>
      <tr th:each="item : ${cartItem}">
        <td th:text="${item.name}">name</td>
        <td th:text="${item.description}">description</td>
        <td th:text="${item.category}">category</td>
        <td th:text="${item.picture}">picture</td>
      </tr>
    </table>
    <br>
   <form th:action="@{/doOrder?vendorId=}" method="POST">
  <button type="submit">Order</button>
</form>
  </body>
</html>