<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
  <head th:replace="partials/head :: common_head('login')">
  </head>
  <body>
    <div class="container">


    <div class="loginImg">
      <img th:src="@{/images/shoppingSpecular.jpg}" alt="loginImg" >
    </div>
    <div class="loginForm">
      <div class="formContainer">


      <img th:src="@{/images/logo.png}" alt="logo">
          <h3>a new frontier of e-commerce</h3>
			<br>
          <form action="login" method="POST">
            <input type="email" placeholder="email" name="email" required />
            <br />
            <br />
            <input
              type="password"
              placeholder="password"
              name="pwd"
              required
            /><br />
            <br />
            <input type="submit" value="login" class="loginButton"/>
            <p th:text=" ${errorMsg}"></p>
          </form>
          <a th:href="@{/register}" class="register">register</a>
    </div>
    </div>
</div>
  </body>
</html>
