<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="partials/head :: common_head('login')"></head>
  <body>
    <div class="box">
      <div class="form">
        <h1><img alt="logo" src="C:\Users\margh\BigBang\WebContent\images\logo.png"/></h1>
        <h2>a new frontier of e-commerce</h2>

        <form action="login" method="POST">
          <input type="email" placeholder="email" name="email" required />
          <br />
          <br />
          <input
            type="password"
            placeholder="password"
            name="pwd"
            required
          /><br />
          <br />
          <input type="submit" value="login" />
          <p th:text=" ${errorMsg}"></p>
        </form>
        <a th:href="@{/register}">register</a>
      </div>
    </div>
  </body>
</html>
