<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="partials/head :: common_head('orders')">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/orders.css" />
  </head>
  <body>
    <div th:replace="~{partials/header :: header}"></div>
    <section>
      <h1>Your orders</h1>
      <div
        th:each="entry : ${orders}"
        th:remove="all-but-first"
        th:with="orderInfo=${entry.key},orderItems=${entry.value},vendorInfo=${vendorDetails.get(orderInfo.id_vendor)}"
      >
        <div class="order card">
          <em class="text-muted"
            >ordered on
            <span th:text="${#dates.format(orderInfo.date, 'dd/MM/yyyy')}"
              >2020/04/28</span
            >
            at
            <span th:text="${#dates.format(orderInfo.date, 'HH:mm')}"
              >13:22:01</span
            >
            - ID:
            <span th:text="${orderInfo.id}"
              >e6cbc856-7a1d-4d5c-8aa2-8f6cfe2b95c5</span
            >
          </em>
          <div class="order-info">
            <div>
              <h2>
                <strong th:text="${vendorInfo.name}">Mercatino</strong>
                <span
                  th:replace="~{partials/rating :: rating(${vendorInfo.score})}"
                >
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </span>
              </h2>
              <table>
                <tr>
                  <td>Subtotal</td>
                  <td>
                    <span
                      th:text="${#numbers.formatDecimal(orderInfo.total_items_cost,1,2)}"
                      >140.88</span
                    >&euro;
                  </td>
                </tr>
                <tr>
                  <td>Shipping</td>
                  <td>
                    <span
                      th:text="${#numbers.formatDecimal(orderInfo.shipping_cost,1,2)}"
                      >5</span
                    >&euro;
                  </td>
                </tr>
                <tr>
                  <td><h4>Total</h4></td>
                  <td>
                    <h4>
                      <span
                        th:text="${#numbers.formatDecimal(orderInfo.getOrderTotal(),1,2)}"
                        >145.88</span
                      >&euro;
                    </h4>
                  </td>
                </tr>
              </table>
            </div>
            <div>
              <table>
                <tr>
                  <th>Quantity</th>
                  <th>Item name</th>
                  <th>Price</th>
                </tr>
                <th:block
                  th:each="orderedItem : ${orderItems}"
                  th:remove="all-but-first"
                  th:with="itemInfo=${itemDetails.get(orderedItem.id_item)}"
                >
                  <tr>
                    <td><span th:text="${orderedItem.quantity}">2</span>x</td>
                    <td th:text="${itemInfo.name}">T-Shirt</td>
                    <td>
                      <span
                        th:text="${#numbers.formatDecimal(orderedItem.cost * orderedItem.quantity,1,2)}"
                        >30.98</span
                      >&euro;
                    </td>
                  </tr>
                  <tr>
                    <td>1x</td>
                    <td>Socks</td>
                    <td>10.00&euro;</td>
                  </tr>
                  <tr>
                    <td>1x</td>
                    <td>SSD 256 Gb</td>
                    <td>99.90&euro;</td>
                  </tr>
                </th:block>
              </table>
            </div>
          </div>
        </div>
        <div class="order">
          <em class="text-muted"
            >ordered on
            <span>2020/04/28</span>
            at
            <span>13:22:01</span>
            - ID: e6cbc856-7a1d-4d5c-8aa2-8f6cfe2b95c5
          </em>
          <div class="order-info">
            <div>
              <h2>
                <strong>BigBang</strong>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </h2>
              <table>
                <tr>
                  <td>Subtotal</td>
                  <td>
                    <span th:text="${orderInfo.total_items_cost}">140.88</span
                    >&euro;
                  </td>
                </tr>
                <tr>
                  <td>Shipping</td>
                  <td>
                    <span th:text="${orderInfo.shipping_cost}">5</span>&euro;
                  </td>
                </tr>
                <tr>
                  <td><h4>Total</h4></td>
                  <td>
                    <h4>
                      <span th:text="${orderInfo.getOrderTotal()}">145.88</span
                      >&euro;
                    </h4>
                  </td>
                </tr>
              </table>
            </div>
            <div>
              <table>
                <tr>
                  <th>Quantity</th>
                  <th>Item name</th>
                  <th>Price</th>
                </tr>
                <tr>
                  <td>1x</td>
                  <td>Socks</td>
                  <td>10.00&euro;</td>
                </tr>
                <tr>
                  <td>2x</td>
                  <td>T-Shirt</td>
                  <td>30.98&euro;</td>
                </tr>
                <tr>
                  <td>1x</td>
                  <td>SSD 256 Gb</td>
                  <td>99.90&euro;</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
