<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Orders</title>
  </head>
  <body>
    <div th:replace="~{partials/header :: nav}"></div>
    <h1>Orders</h1>
	<div th:each="order : ${orders}">
		<hr>
		<strong>ORDER ID: [[${order.id}]]</strong><br>
		<strong>at [[${order.date}]]</strong>
		<div th:each="entry : ${order.items}" th:with="item=${entry.key},quantity=${entry.value}">
			<p>[[${quantity}]]x [[${item.name}]]</p>
		</div>
    </div>
    <hr>
  </body>
</html>
