<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="partials/head :: common_head('register')"></head>
  <body>
    <div class="container">
    <div class="loginForm">
      <div class="formContainer">
       <img th:src="@{/images/logo.png}" alt="logo">
        <h3>a new frontier of e-commerce</h3>
		<br>
        <form action="register" method="POST">
          <input type="text" placeholder="name" name="name" required />
          <br />
          <br />
          <input type="text" placeholder="surname" name="surname" required />
          <br />
          <br />
          <input type="email" placeholder="email" name="email" required />
          <br />
          <br />
          <input
            type="password"
            placeholder="password"
            name="pwd"
            required
          /><br />
          <br />
           <input
            type="password"
            placeholder="password"
            name="confirmPwd"
            required
          /><br />
          <br />
          <input type="text" placeholder="address" name="address" required />
          <br />
          <br />
          <input type="submit" value="register" class="registerButton"/>
          <p th:text=" ${errorMsg}"></p>
        </form>
        <a th:href="@{/login}" class="login">login</a>
      </div>
    </div>
    
    <div class="loginImg">
      <img th:src="@{/images/shopping.jpg}" alt="loginImg" >
    </div>
    
    </div>
    
  </body>
</html>
