<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="partials/head :: common_head('search')"></head>
  <body>
    <div th:replace="~{partials/header :: header}"></div>
    <h2>Your search returned [[${searchItem.size()}]] results</h2>
    <table th:if="${searchItem.size()>0}">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
      <tr th:each="item : ${searchItem}">
        <td th:text="${item.id}">Id</td>
        <td th:text="${item.name}">Name</td>
        <td th:text="${item.value.values.iterator().next().price}">Price</td>
      </tr>
    </table>
  </body>
</html>
