<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="partials/head :: common_head('search')"></head>
  <body>
    <div th:replace="~{partials/header :: header}"></div>
    <br>
    <h2>Your search returned [[${searchItem.size()}]] results</h2>
    <div th:if="${searchItem.size()>0}">
    <div class="item">
      <div th:each="item : ${searchItem}">
      	<div th:replace="${itemViewed.contains(item.id)} ? 
        	~{partials/extendedItem :: extendedItem(${item})} :
        	~{partials/compressedItem :: compressedItem(${item})}">
        </div>
      </div>
     </div>
    </div>
    
    <a class="topBtn" href=#top><i class="fas fa-arrow-alt-circle-up"></i>Top</a>
    
  </body>
</html>


