@charset "ISO-8859-1";

.vendor-section {
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	margin: 40px 0;
	box-shadow: 2px 2px 20px 5px #c0c0c0;
	box-shadow: 5px 6px 4px 0px rgba(0, 0, 0, 0.28);
	border-radius: 5px;
	background-color: #f3f3f3;
}

.vendor-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.vendor-name {
	font-size: 20px;
	font-weight: bold;
}

table {
	width: 100%;
	border-bottom: 2px solid #ddd;
}

.item {
	text-align: left;
	padding: 10px;
}

.item:hover {
	background-color: #ddd;
}

.item-quantity {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.increment-decrement-button {
	border-radius: 50%;
	background-color: #f3f3f3;
	border: #f3f3f3;
}

.increment-decrement-button:hover {
	background-color: #e7e7e7;
}

.footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 2px;
	padding-top: 8px;
}

.text {
	text-align: left;
}

.prices {
	text-align: right;
	display: block;
}

.subtotal {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.subtotal-price {
	padding-left: 8px;
}

.shipping {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-style: italic;
}

.shipping-price {
	padding-left: 8px;
}

.total {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-weight: bold;
}

.total-price {
	padding-left: 8px;
}

.order-button {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.order {
	padding-top: 10px;
	border-radius: 5px;
	background-color: #b80c09;
	border: none;
	color: #FFFFFF;
	font-size: 20px;
	width: 100px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.order span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.order span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.order:hover span {
	padding-right: 25px;
}

.order:hover span:after {
	opacity: 1;
	right: 0;
}

.prices-setting {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.prices-setting-bis {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}