.box {
  top: 50%;
  left: 50%;
  margin: auto;
  width: 30%;
  border: 3px solid gray;
  padding: 10px;
  text-align: center;
  background-color: gray;
  opacity: 0.6;
}
/* 
body {
	background-image: url("../images/doLoginBackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
} */
