html{
	scroll-behavior: smooth;
}


.view-button {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.view {
	padding-top: 10px;
	border-radius: 5px;
	background-color: #b80c09;
	border: none;
	color: #FFFFFF;
	font-size: 20px;
	width: 100px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.view span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.view span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.view:hover span {
	padding-right: 25px;
}

.view:hover span:after {
	opacity: 1;
	right: 0;
}

.topBtn{
	position: fixed;
	width: 50px;
	height: 50px;
	background: #fff;
	bottom: 40px;
	right: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50 px;
	color: #333;
	border: 2px solid #b80c09;
	border-radius: 5px;
	transition: 0.4s;
}

.topBtn:hover{
	background-color: #b80c09;
	color: #fff;
}
i{
	font-size: 24px;

}

.numberResult{
	margin-left: 10%;
	margin-inline-start: 15px;
}



